.about {
  padding-top: 100px;
}

.about__title {
  margin-bottom: 45px;
}

.about__content {
  display: flex;
  gap: 80px;
}

.about__photos {
  min-width: 600px;
}

.about__paragraph {
  margin-bottom: 7px;
}

.about__text {
  margin-bottom: 30px;
  white-space: pre-line;
}

.about__text:last-child {
  margin-bottom: 0;
}

.about__quote {
  position: relative;
}

.about__quote-text {
  padding: 0 50px 0 30px;
  margin-bottom: 30px;
  font-size: 44px;
  line-height: 50px;
  text-transform: uppercase;
}

.about__quote-text::before {
  content: "“";
  position: absolute;
  top: 40px;
  left: 0;
  font-weight: 900;
  color: var(--main-color);
}

.about__quote-text::after {
  content: "”";
  position: absolute;
  bottom: 120px;
  right: 110px;
  font-weight: 900;
  color: var(--main-color);
}

.about__figure {
  padding-left: 110px;
}

.about__img {
  max-width: 100%;
  width: 80px;
}

.about__figcaption {
  display: inline-block;
  vertical-align: baseline;
  max-width: 300px;
  padding-left: 30px;
  font-style: normal;
}