.about {
  padding-top: 100px;
}

.about__title {
  margin-bottom: 45px;
}

.about__content {
  display: grid;
  grid-template-columns: 600px 1fr;
  grid-template-rows: 246px 217px;
  gap: 38px 80px;
}

.about__photos {
  display: block;
  grid-row: 1 / 4;
  grid-column: 1 / 2;
  object-fit: contain;
}

.about__paragraph {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.about__text {
  margin-bottom: 30px;
  max-width: 500px;
}

.about__text:last-child {
  margin-bottom: 0;
}

.about__quote {
  display: flex;
  flex-direction: column;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.about__quote-text {
  position: relative;
  padding: 0 50px 0 30px;
  margin-bottom: 30px;
  font-size: 44px;
  line-height: 50px;
  text-transform: uppercase;
}

.about__quote-text::before {
  content: "“";
  position: absolute;
  top: -10px;
  left: 0;
  font-weight: 900;
  color: var(--main-color);
}

.about__quote-text::after {
  content: "”";
  position: absolute;
  bottom: 0px;
  right: 110px;
  font-weight: 900;
  color: var(--main-color);
}

.about__figure {
  display: flex;
  align-self: flex-end;
  gap: 35px;
}

.about__img {
  width: 80px;
  height: 80px;
}

.about__author {
  display: block;
  max-width: 270px;
}

@media (max-width: 1435px) {
  .about__quote-text {
    max-width: 455px;
    font-size: 30px;
    line-height: 36px;
  }

  .about__quote-text::after {
    bottom: 3px;
    left: 260px;
  }

  .about__img {
    width: 70px;
    height: 70px;
  }

  .about__author {
    max-width: 230px;
    line-height: 26px;
  }
}

@media (max-width: 1280px) {
  .about {
    padding-top: 70px;
  }

  .about__title {
    margin-bottom: 27px;
  }

  .about__content {
    grid-template-columns: 420px 1fr;
    grid-template-rows: 195px 177px;
    gap: 33px 40px;
  }

  .about__paragraph {
    margin-bottom: 44px;
  }

  .about__text {
    margin-bottom: 20px;
  }

  .about__quote-text {
    padding: 0 30px 0 24px;
    margin-bottom: 23px;
    font-size: 30px;
    line-height: 36px;
  }
}

@media (max-width: 968px) {
  .about {
    padding-top: 60px;
  }

  .about__content {
    grid-template-columns: 382px 1fr;
    grid-template-rows: 380px 177px;
    gap: 43px 28px;
  }

  .about__photos {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

  .about__paragraph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }

  .about__text {
    margin-bottom: 20px;
    max-width: none;
  }

  .about__quote {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
  }

  .about__quote-text {
    padding: 0 22px;
    margin-bottom: 30px;
    max-width: 730px;
    font-size: 32px;
    line-height: 36px;
  }

  .about__quote-text::after {
    left: 550px;
  }

  .about__author {
    max-width: 215px;
  }
}

@media (max-width: 680px) {
  .about {
    padding-top: 60px;
  }

  .about__content {
    grid-template-columns: 1fr;
    grid-template-rows: 127px 1fr 232px;
    gap: 17px;
  }

  .about__photos {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }

  .about__paragraph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

  .about__text {
    margin-bottom: 20px;
    max-width: none;
  }

  .about__quote {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
  }

  .about__quote-text {
    padding: 0 33px;
    margin-bottom: 10px;
    max-width: 370px;
  }

  .about__quote-text::after {
    left: 280px;
  }

  .about__figure {
    align-self: flex-start;
  }

  .about__author {
    max-width: 215px;
  }
}

@media (max-width: 640px) {
  .about {
    padding-top: 28px;
  }

  .about__title {
    margin-bottom: 20px;
  }

  .about__content {
    grid-template-rows: 127px 1fr 144px;
  }

  .about__quote-text {
    padding: 0 17px;
    margin-bottom: 10px;
    max-width: 280px;
    font-size: 18px;
    line-height: 26px;
  }

  .about__quote-text::after {
    left: 155px;
  }

  .about__figure {
    gap: 10px;
  }

  .about__img {
    width: 56px;
    height: 56px;
  }

  .about__author {
    max-width: 200px;
    line-height: 16px;
  }
}