.banner {
  padding-top: 25px;
}

.banner__container {
  position: relative;
  min-height: 823px;
}

.banner__container::after {
  content: "";
  display: block;
  position: absolute;
  width: 675px;
  height: 762px;
  bottom: 0;
  right: 0;
  background-image: url("../img/vr-man.png");
  background-size: contain;
}

.banner__content {
  margin-bottom: 40px;
}

.banner__title {
  font-size: 150px;
  font-weight: 900;
  line-height: 100%;
  letter-spacing: -0.1em;
}

.banner__tagline {
  padding-left: 100px;
  font-size: 28px;
  line-height: 50px;
}

.banner__list {
  display: flex;
  align-items: flex-end;
  margin-bottom: 150px;
  gap: 40px;
}

.banner__item {
  flex-basis: 190px;
  text-align: center;
}

.banner__subtitle {
  font-weight: 900;
  color: #CD06FF;
  text-transform: uppercase;
}

.banner__subtitle_4 {
  font-size: 100px;
  line-height: 141px;
}

.banner__subtitle_new {
  font-size: 75px;
  line-height: 106px;
}

.banner__text {
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
}

.banner__button {
  padding: 25px 69px;
  background-color: #6C0287;
}

.banner__button:hover,
.banner__button:focus {
  background-color: #840AA3;
}

.banner__button:active {
  background-color: #640AA3;
}

.banner__next {
  position: absolute;
  height: 97px;
  width: 97px;
  left: 541px;
  bottom: 90px;
  z-index: 10;
  background-image: url('../img/down.svg');
  border-radius: 50%;
}

.banner__next:focus {
  outline: 2px solid #CD06FF;
}