.banner {
  padding-top: 25px;
}

.banner__container {
  position: relative;
  min-height: 823px;
}

.banner__container::after {
  content: "";
  display: block;
  position: absolute;
  width: 675px;
  height: 762px;
  bottom: 0;
  right: 130px;
  background-image: url("../img/vr-man.png");
  background-size: contain;
}

.banner__content {
  margin-bottom: 29px;
}

.banner__title {
  font-size: 150px;
  font-weight: 900;
  line-height: 100%;
  letter-spacing: -0.1em;
}

.banner__tagline {
  padding-left: 100px;
  font-size: 28px;
  line-height: 50px;
}

.banner__list {
  display: flex;
  align-items: flex-end;
  margin-bottom: 175px;
  gap: 28px;
}

.banner__item {
  flex-basis: 190px;
  text-align: center;
}

.banner__subtitle {
  font-weight: 900;
  color: var(--light-color);
  text-transform: uppercase;
}

.banner__subtitle_4 {
  font-size: 100px;
  line-height: 141px;
}

.banner__subtitle_new {
  font-size: 63px;
  line-height: 90px;
}

.banner__text {
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
}

.banner__button {
  padding: 25px 69px;
  background-color: var(--main-color);
  font-size: 26px;
  line-height: 30px;
}

.banner__button:hover,
.banner__button:focus {
  background-color: var(--light-average-color);
}

.banner__button:active {
  background-color: var(--average-color);
}

.banner__next {
  display: block;
  position: absolute;
  height: 97px;
  width: 97px;
  left: calc(50% - 47.5px);
  bottom: 90px;
  z-index: 10;
  border-radius: 50%;
  background-image: url('../img/down.svg');
  outline: 6px solid transparent;
  outline-offset: 10px;
  transition-duration: .3s;
  transition-property: background-image, outline;
  cursor: pointer;
}

.banner__next:hover {
  outline-color: transparent;
  background-image: url('../img/down-hover.svg');
}

.banner__next:focus {
  outline: 2px solid var(--light-color);
  outline-offset: 3px;
}

.banner__next:active {
  outline-color: transparent;
  background-image: url('../img/down-active.svg');
}