.booking {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #440F51;
}

.booking__title {
  margin-bottom: 50px;
}

.booking__form {
  font-size: 22px;
  line-height: 25px;
}

.booking__fieldset {
  display: flex;
  justify-content: space-around;
  margin-bottom: 60px;
}

.booking__fieldset:last-child {
  margin-bottom: 40px;
}

.booking__room-fieldset {
  justify-content: space-between;
}

.booking__legend {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

.booking__button-label {
  flex-basis: 250px;
  padding: 8px 0px;
  border: 3px solid transparent;
  background-color: #fff;
  border-radius: 10px;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  color: #000000;
}

.booking__button-label:hover {
  border-color: #640AA3;
  background-color: #EADEED;
}

.booking__button-label:focus {
  border-color: #640AA3;
  background-color: #fff;
  color: black;
}

.booking__button-label:active {
  border-color: #fff;
  background-color: #6C0287;
  color: white;
}

.booking__center-fieldsets {
  display: flex;
  flex-direction: column;
  padding: 0 100px;
}

.booking__fun-fieldset {
  flex-direction: column;
}

.booking__sublegend {
  margin-bottom: 23px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.booking__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.booking__radio,
.booking__checkbox {
  margin-right: 12px;
  transition-duration: 0.3s;
  transition-property: outline;
}

.booking__radio {
  width: 27px;
  height: 27px;
}

.booking__checkbox {
  width: 25px;
  height: 25px;
}

.booking__radio:focus,
.booking__checkbox:focus {
  outline: 1px solid #CD06FF;
}

.booking__final {
  justify-content: space-between;
  align-items: flex-end;
  gap: 40px;
}

.booking__block {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.booking__block_row {
  flex-basis: 300px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px;
}

.booking__final-label {
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.booking__input-text {
  display: block;
  height: 52px;
  border: 2px solid transparent;
  transition: border-color 0.2s;
}

.booking__input-text:focus {
  border-color: #CD06FF;
}

.booking__select {
  width: 134px;
  height: 52px;
}

.booking__select_big {
  width: 100%;
}

.booking__button {
  align-self: flex-end;
  padding: 16px 50px;
  width: 300px;
  border: 3px solid transparent;
  background-color: #fff;
  color: #6C0287;
}

.booking__button:hover {
  border-color: #6C0287;
  background-color: #EADEED;
}

.booking__button:focus {
  border-color: #6C0287;
  background-color: #fff;
}

.booking__button:active {
  border-color: transparent;
  background-color: #EADEED;
}