.button {
  border-radius: 10px;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #FFFFFF;
  text-transform: uppercase;
  transition-duration: 0.3s;
  transition-property: background-color, border-color;
}

@media (max-width: 1280px) {
  .button {
    font-size: 18px;
    line-height: 24px;
  }
}