.contact {
  padding-bottom: 78px;
}

.contact__content {
  display: flex;
  justify-content: space-between;
}

.contact__list {
  padding-left: 60px;
  margin-bottom: 40px;
}

.contact__item {
  position: relative;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
}

.contact__item:not(:last-child) {
  margin-bottom: 11px;
}

.contact__item:first-child {
  margin-bottom: 46px;
}

.contact__item::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 32px;
  top: calc(50% - 16px);
  left: -60px;
  background-size: contain;
  background-repeat: no-repeat;
}

.contact__address::before {
  background-image: url("../img/location.svg");
}

.contact__phone::before {
  background-image: url("../img/phone-call.svg");
}

.contact__email::before {
  background-image: url("../img/email.svg");
}

.contact__link {
  color: inherit;
  text-decoration: none;
}

.contact__social {
  text-decoration: none;
}

.contact__media {
  display: inline-block;
  width: 48px;
  height: 48px;
  margin-right: 23px;
}

.contact__media:last-child {
  margin-right: 0;
}

.contact__media-link {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  outline: 1px solid transparent;
  outline-offset: 3px;
  color: white;
  transition-duration: 0.3s;
  transition-property: color, outline-color;
}

.contact__media-link:hover {
  color: var(--pale-color);
}

.contact__media-link:focus {
  outline-color: var(--light-color);
  color: var(--pale-color);
}

.contact__media-link:active {
  outline-color: transparent;
  color: var(--light-color);
}

.contact__map {
  background-size: contain;
}

@media (max-width: 1280px) {
  .contact {
    padding-top: 20px;
    padding-bottom: 47px;
  }

  .contact__title {
    margin-bottom: 26px;
  }

  .contact__list {
    padding-left: 40px;
    margin-bottom: 42px;
  }

  .contact__item:not(:last-child) {
    margin-bottom: 5px;
  }
  
  .contact__item:first-child {
    margin-bottom: 45px;
  }

  .contact__item::before {
    width: 26px;
    height: 26px;
    top: calc(50% - 7px);
    left: -40px;
  }

  .contact__media {
    margin-right: 24px;
    width: 38px;
    height: 38px;
  }

  .contact__map {
    max-width: 542px;
    height: 274px;
  }
}

@media (max-width: 940px) {
  .contact {
    padding-top: 30px;
  }

  .contact__title {
    margin-bottom: 28px;
  }

  .contact__content {
    flex-direction: column;
    align-items: center;
  }

  .contact__all-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .contact__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }

  .contact__item {
    padding-right: 32px;
  }

  .contact__item:not(:last-child) {
    margin-bottom: 27px;
  }

  .contact__item:first-child {
    padding-right: 35px;
    margin-bottom: 30px;
  }

  .contact__address {
    text-align: center;
  }

  .contact__address::before {
    top: 0;
    left: 10px;
  }

  .contact__map {
    min-width: 100%;
    max-width: 100%;
    height: 337px;
  }
}

@media (max-width: 640px) {
  .contact {
    padding-top: 6px;
  }

  .contact__title {
    margin-bottom: 15px;
  }

  .contact__all-contacts {
    margin-bottom: 33px;
  }

  .contact__list {
    margin-bottom: 11px;
  }

  .contact__item {
    padding-right: 42px;
  }

  .contact__item {
    font-size: 14px;
    line-height: 18px;
  }

  .contact__item:not(:last-child) {
    margin-bottom: 11px;
  }

  .contact__item:first-child {
    margin-bottom: 10px;
  }

  .contact__item::before {
    width: 22px;
    height: 22px;
    top: -2px;
    left: -24px;
  }

  .contact__address {
    text-align: center;
  }

  .contact__address::before {
    width: 20px;
    height: 20px;
    left: 0px;
  }

  .contact__social {
    max-width: 185px;
  }

  .contact__media {
    width: 28px;
    height: 28px;
  }

  .contact__media:not(:last-child) {
    margin-right: 20px;
  }

  .contact__map {
    height: 194px;
  }
}