.contact {
  padding-bottom: 78px;
}

.contact__content {
  display: flex;
  justify-content: space-between;
}

.contact__list {
  padding-left: 60px;
  margin-bottom: 40px;
  list-style-type: none;
}

.contact__item {
  position: relative;
  margin-bottom: 11px;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
}

.contact__item:first-child {
  margin-bottom: 46px;
}

.contact__item::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 32px;
  top: calc(50% - 16px);
  left: -60px;
  background-size: contain;
  background-repeat: no-repeat;
}

.contact__address::before {
  background-image: url("../img/location.svg");
}

.contact__phone::before {
  background-image: url("../img/phone-call.svg");
}

.contact__email::before {
  background-image: url("../img/email.svg");
}

.contact__link {
  color: inherit;
  text-decoration: none;
}

.contact__social {
  text-decoration: none;
}

.contact__media {
  display: inline-block;
  width: 48px;
  height: 48px;
  margin-right: 23px;
}

.contact__media:last-of-type {
  margin-right: 0;
}

.contact__media-link {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  outline: 1px solid transparent;
  outline-offset: 3px;
  color: white;
  transition-duration: 0.3s;
  transition-property: color, outline-color;
}

.contact__media-link:hover {
  color: var(--pale-color);
}

.contact__media-link:focus {
  outline-color: var(--light-color);
  color: var(--pale-color);
}

.contact__media-link:active {
  outline-color: transparent;
  color: var(--light-color);
}

.contact__map {
  background-size: cover;
}

@media (max-width: 1280px) {
  .contact {
    padding-bottom: 47px;
  }
  
  .contact__content {
    display: flex;
    justify-content: space-between;
  }
  
  .contact__list {
    padding-left: 40px;
    margin-bottom: 47px;
  }
  
  .contact__item {
    position: relative;
    margin-bottom: 11px;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
  }
  
  .contact__item:first-child {
    margin-bottom: 54px;
  }
  
  .contact__item::before {
    width: 26px;
    height: 26px;
    top: calc(50% - 7px);
    left: -40px;
  }
  
  .contact__media {
    margin-right: 12px;
  }
  
  .contact__media-link {
    width: 38px;
    height: 38px;
  }

  .contact__map {
    max-width: 542px;
    height: 274px;
  }
}