.faq__title {
  margin-bottom: 47px;
}

.faq__item {
  position: relative;
  display: flex;
  padding-left: 70px;
  align-items: center;
  height: 87px;
  background-color: #fff;
  font-weight: 700;
  font-size: 24px;
  list-style-type: none;
  cursor: pointer;
  color: #1C1A1A;
}

.faq__item+.faq__item {
  margin-top: 20px;
}

.faq__item::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 48px;
  height: 48px;
  right: 68px;
  top: calc(50% - 24px);
  background-image: url("../img/open-purple.svg");
  background-size: contain;
  transition-duration: .2s;
  transition-property: background-image;
}

.faq__item:nth-child(even) {
  background-color: var(--dark-color);
  color: #fff;
}

.faq__item:hover::after {
  background-image: url('../img/open-purple-hover.svg');
}

.faq__item:active::after {
  background-image: url('../img/open-purple-active.svg');
}

.faq__item:nth-child(even)::after {
  background-image: url("../img/open-white.svg");
}

.faq__item:nth-child(even):hover::after {
  background-image: url("../img/open-white-hover.svg");
}

.faq__item:nth-child(even):active::after {
  background-image: url("../img/open-white-active.svg");
}

@media (max-width: 1280px) {
  .faq__title {
    margin-bottom: 29px;
  }

  .faq__item:nth-child(n) {
    padding-left: 25px;
    height: 70px;
    background-color: #fff;
    font-size: 20px;
    line-height: 24px;
    color: #1C1A1A;
  }

  .faq__item:last-child {
    display: none;
  }

  .faq__item+.faq__item {
    margin-top: 15px;
  }

  .faq__item::after {
    right: 20px;
  }

  .faq__item:nth-child(even)::after {
    background-image: url("../img/open-purple.svg");
  }
}

@media (max-width: 1020px) {
  .faq__title {
    margin-bottom: 23px;
  }

  .faq__item:nth-child(n) {
    padding-left: 58px;
    font-size: 18px;
    line-height: 24px;
  }

  .faq__item::after {
    right: 65px;
  }
}

@media (max-width: 640px) {
  .faq__title {
    margin-bottom: 21px;
  }

  .faq__item:nth-child(n) {
    padding-left: 10px;
    padding-right: 40px;
    height: 46px;
    font-size: 12px;
    line-height: 16px;
  }

  .faq__item::after {
    top: calc(50% - 15px);
    right: 13px;
    width: 30px;
    height: 30px;
  }

  .faq__item+.faq__item {
    margin-top: 10px;
  }
}