.footer {
  padding-top: 78px;
  padding-bottom: 10px;
  background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);
}

.footer__container {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 16px;
}

.footer__author {
  text-align: right;
}

.footer__design {
  margin-bottom: 6px;
}