.header {
  padding-top: 30px;
  padding-bottom: 25px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 120px;
}

.header__button {
  flex-basis: 280px;
  padding: 12px 0;
  border: 3px solid var(--light-color);
  background-color: transparent;
}

.header__button:hover,
.header__button:focus {
  border: none;
  background-color: var(--main-color);
}

.header__button:active {
  border: 1px solid #000;
  background-color: var(--average-color);
}

@media (max-width: 1280px) {
  .header {
    padding-bottom: 15px;
  }
  
  .header__logo {
    width: 87px;
  }
  
  .header__button {
    flex-basis: 230px;
  }
}

@media (max-width: 1020px) {
  .header {
    padding-top: 33px;
  }
  
  .header__logo {
    width: 87px;
    height: 55px;
  }
  
  .header__button {
    padding: 7px 16px;
  }
}

@media (max-width: 640px) {
  .header {
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .header__logo {
    width: 66px;
    height: 42px;
  }

  .header__button {
    display: none;
  }
}