.header {
  padding-bottom: 25px;
}

.header__container {
  position: relative;
  padding-top: 30px;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 120px;
}

.header__button {
  flex-basis: 280px;
  padding: 12px 0;
  border: 3px solid var(--light-color);
  background-color: transparent;
}

.header__button:hover,
.header__button:focus {
  border: none;
  background-color: var(--main-color);
}

.header__button:active {
  border: 1px solid #000;
  background-color: var(--average-color);
}

@media (max-width: 1280px) {
  .header {
    padding-bottom: 15px;
  }

  .header__container {
    position: static;
  }

  .header__logo {
    width: 87px;
    height: 55px;
  }

  .header__button {
    flex-basis: 230px;
  }
}

@media (max-width: 1020px) {
  .header__container {
    position: relative;
    height: 92px;
  }

  .header__content {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    padding: 0 40px;
    padding-top: 33px;
    background-color: #1B1A1B;
    z-index: 90;
  }

  .header__button {
    padding: 7px 16px;
  }
}

@media (max-width: 640px) {
  .header__container {
    height: 82px;
  }

  .header__content {
    padding: 0 20px;
    padding-top: 20px;
  }

  .header__logo {
    width: 66px;
    height: 42px;
  }

  .header__button {
    display: none;
  }
}