.header {
  padding-top: 30px;
  padding-bottom: 25px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.header__button {
  flex-basis: 280px;
  padding: 12px 0;
  border: 3px solid #CD06FF;
  background-color: inherit;
}

.header__button:hover,
.header__button:focus {
  border: none;
  background-color: #6C0287;
}

.header__button:active {
  border: 1px solid #000;
  background-color: #640AA3;
}