.menu-button {
  display: none;
  min-width: 54px;
  min-height: 59px;
  color: var(--main-color);
}

.menu-button:hover {
  color: var(--light-color);
}

.menu-button:focus {
  outline: 1px solid var(--light-color);
}

.menu-button:focus,
.menu-button:active {
  color: var(--light-average-color);
}

@media (max-width: 1020px) {
  .menu-button {
    display: block;
  }
}

@media (max-width: 640px) {
  .menu-button {
    min-width: 0;
    min-height: 0;
    width: 39px;
    height: 20px;
  }
}