.navigation__list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.navigation__link {
  font-size: 22px;
  line-height: 50px;
  text-transform: uppercase;
}

.navigation__button {
  display: none;
  padding: 11px 20px;
  border: 3px solid var(--light-color);
  background-color: transparent;
}

.navigation__button:hover,
.navigation__button:focus {
  border: none;
  background-color: var(--main-color);
}

.navigation__button:active {
  border: 1px solid #000;
  background-color: var(--average-color);
}

@media (max-width: 1280px) {
  .navigation__list {
    gap: 20px;
  }

  .navigation__link {
    font-size: 18px;
    line-height: 22px;
  }
}

@media (max-width: 1020px) {
  .navigation {
    visibility: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: 0.1s ease-in-out;
  }

  .navigation_active {
    visibility: visible;
    opacity: 1;
    z-index: 20;
  }

  .navigation__wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: -320px;
    left: 0;
    right: 0;
    padding: 60px 0;
    background-color: #1B1A1B;
  }

  .navigation__list {
    flex-direction: column;
    gap: 0;
  }

  .navigation__item {
    width: 100%;
    height: 60px;
  }

  .navigation__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 22px;
    line-height: 22px;
    text-align: center;
  }

  .navigation__link:hover {
    background-color: var(--main-color);
  }

  .navigation__link:active {
    background-color: var(--light-color);
  }
}

@media (max-width: 640px) {
  .navigation__wrapper {
    top: -350px;
    padding: 30px 0;
    gap: 40px;
  }

  .navigation__link {
    font-size: 14px;
    line-height: 22px;
  }

  .navigation__button {
    display: block;
  }
}