.rest {
  --central-offset: 70px;
  padding-bottom: calc(50px + var(--central-offset));
}

.rest__title {
  margin-bottom: 45px;
}

.rest__list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 20px;
}

.rest__item {
  padding: 166px 40px 0;
  height: 228px;
  flex-basis: 380px;
  font-weight: 700;
  transition: scale .3s;
}

.rest__item:nth-child(3n + 2) {
  transform: translateY(var(--central-offset));
}

.rest__item:hover {
  scale: 1.1;
}

.rest__item_vr {
  background-image: url('../img/vr.jpg');
}

.rest__item_audio {
  background-image: url('../img/audio.jpg');
}

.rest__item_karaoke {
  background-image: url('../img/karaoke.jpg');
}

.rest__item_boardgames {
  background-image: url('../img/boardgames.jpg');
}

.rest__item_movies {
  background-image: url('../img/movies.jpg');
}

.rest__item_playstation {
  background-image: url('../img/playstation.jpg');
}