.rest {
  --central-offset: 70px;
  padding-bottom: calc(50px + var(--central-offset));
}

.rest__title {
  margin-bottom: 45px;
}

.rest__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 40px;
}

.rest__item {
  padding: 166px 40px 0;
  height: 228px;
  background-size: contain;
  flex-basis: 32%;
  font-weight: 700;
  background-size: cover;
  background-repeat: no-repeat;
  transition: scale .3s;
}

.rest__item:nth-child(3n + 2) {
  transform: translateY(var(--central-offset));
}

.rest__item:hover {
  scale: 1.1;
}

.rest__item_vr {
  background-image: url('../img/vr.jpg');
}

.rest__item_audio {
  background-image: url('../img/audio.jpg');
}

.rest__item_karaoke {
  background-image: url('../img/karaoke.jpg');
}

.rest__item_boardgames {
  background-image: url('../img/boardgames.jpg');
}

.rest__item_movies {
  background-image: url('../img/movies.jpg');
}

.rest__item_playstation {
  background-image: url('../img/playstation.jpg');
}

@media (max-width: 1325px) {
  .rest__item_movies {
    padding-top: 140px;
  }
}

@media (max-width: 1280px) {
  .rest {
    --central-offset: 53px;
    padding-top: 40px;
    padding-bottom: calc(35px + var(--central-offset));
  }
  
  .rest__title {
    margin-bottom: 40px;
  }
  
  .rest__list {
    row-gap: 30px;
  }
  
  .rest__item {
    padding: 114px 20px 0;
    height: 172px;
    flex-basis: 32%;
    font-weight: 700;
    transition: scale .3s;
  }

  .rest__item_movies {
    padding-top: 83px;
  }
}