.reviews__list {
  padding: 0 100px;
}

.reviews__item {
  display: flex;
  margin-bottom: 50px;
  gap: 20px;
}

.reviews__item:last-child {
  margin-bottom: 0;
}

.reviews__photo {
  min-width: 280px;
}

.reviews__name {
  text-align: center;
}

.reviews__review-text {
  padding-top: 52px;
}