.rooms__list {
  display: flex;
  justify-content: space-between;
  row-gap: 20px;
  flex-wrap: wrap;
}

.rooms__item {
  padding: 94px 164px;
  flex-basis: 580px;
  height: 349px;
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 70px;
  font-weight: 700;
  line-height: 80px;
  text-align: center;
  text-transform: uppercase;
}

.rooms__link {
  text-decoration: none;
  color: #fff;
}

.rooms__item_theme_80s {
  background-image: url("../img/80s.jpg");
}

.rooms__item_theme_starwars {
  background-image: url("../img/star-wars.jpg");
}

.rooms__item_theme_wildwest {
  background-image: url("../img/wild-west.jpg");
}

.rooms__item_theme_neon {
  background-image: url("../img/neon-style.jpg");
}